# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# macOS
.DS_Store

# Cursor / VS Code (local)
.vscode/
